* {
    margin: 1%;
    padding: 0;
    box-sizing: border-box;
}

.grid-general{
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
}

.image{
    text-align: center;
    background-image: url("../img/n7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1fr;
    max-height: 1490px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(58, 57, 68, 0.2);
    position: relative;
    border: 0.5px solid rgba(30, 30, 30, 0.2);
}

.all{
    background-color: white;
    max-width: 1fr;
    position: relative;
    text-align: center;
}

.profile{
    margin-top: 20px;
    width: 180px;
    border-radius: 100px;
    border: 6px solid white;
    box-shadow: 0 2px 10px rgba(30, 30, 30, 1);
}

header{
    margin-top: 0px;
    text-align: center;
}

.name{
    padding: 3px; 
    height: auto;
    text-align: center;
    max-width: 1fr;
    font-size: 40px;
    color: white;
    border: 0.5px solid rgba(30, 30, 30, 0.2);
    border-radius: 8px;
    background-color: #1E69CB;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 2px 4px rgba(58, 57, 68, 0.2);
    box-shadow: 0 2px 4px rgba(58, 57, 68, 0.2);
}

.description{
    margin: 7%;
    text-align: justify;
    width: 1fr;
    font-size: 14px;
    color: white;
    text-shadow: 1px 0px 0px rgba(30, 30, 30, 0.2), 
    0px 1px 0px rgba(30, 30, 30, 0.2), 
    -1px 0px 0px rgba(30, 30, 30, 0.2), 
    0px -1px 0px rgba(30, 30, 30, 0.2);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.logo{
    width: 25px;
    border-radius: 8px;
    /* box-shadow: 0 2px 8px rgba(30, 30, 30, 0.2); */
    border: .05px solid rgba(30, 30, 30, 0.2);
}

.section-wrapper{
    width: 100%;
    margin-left: 20px;
    display:contents;
    justify-content: center;
}

.section-wrapper ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
}

.section-wrapper ul li{
    gap: 10px;
    color: #FF6100;
    text-shadow: 0 2px 4px rgba(10, 10, 10, 0.2);
}

.info{
    display: flex;
    align-items: center;
    margin: 10%;
    text-align: justify;
    width: 1fr;
    font-size: 14px;
    color: white;
    text-shadow: 1px 0px 0px rgba(30, 30, 30, 0.2), 
    0px 1px 0px rgba(30, 30, 30, 0.2), 
    -1px 0px 0px rgba(30, 30, 30, 0.2), 
    0px -1px 0px rgba(30, 30, 30, 0.2);
}

.data{
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1.4fr;
    grid-gap: 30px;
}

.cell{
    background-color: #A7C9F6;
    max-width: 500px;
    max-height: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(58, 57, 68, 0.2);
    position: relative;
    border: 0.5px solid rgba(30, 30, 30, 0.2);
}

.area{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    font-size: 18px;
    text-shadow: 1px 0px 0px rgba(30, 30, 30, 0.2), 
    0px 1px 0px rgba(30, 30, 30, 0.2), 
    -1px 0px 0px rgba(30, 30, 30, 0.2), 
    0px -1px 0px rgba(30, 30, 30, 0.2);
    color: white;
}

.content{
    margin-left: 30px;
    margin-right: 15px;
    text-shadow: 0 2px 4px rgba(58, 57, 68, 0.2);
}

.content ul{
    display: flex;
    justify-content: left;
    font-size: 16px;
}

.date{
    font-size: 12px;
    font-style: italic;
    color: rgba(90, 84, 84, 1);
}

.respons{
    margin-right: 30px;
    margin-bottom: 20px;
    text-align: justify;
    font-size: 12px;
    color: black;
}

.link{
    color: white;
    text-shadow: 0 2px 4px rgba(10, 10, 10, 0.2);
}

.info-wrapper{
    width: 100%;
    padding: 15px;
    display: contents;
    justify-content: center;
}

.info-wrapper ul{
    display: flex;
    justify-content:left;
    flex-wrap: wrap;
    gap: 40px;
    font-size: 14px;
}

.info-wrapper ul li{
    gap: 10px;
    text-shadow: 0 2px 4px rgba(10, 10, 10, 0.2);
}

.general-wrapper{
    width: 100%;
    padding: 15px;
    text-align: center;
}

.menu-float {
    overflow:auto;
}

.menu-float::-webkit-scrollbar {
    -webkit-appearance: none;
}

.menu-float::-webkit-scrollbar:vertical {
    width:10px;
}

.menu-float::-webkit-scrollbar-thumb {
    background-color: #7979796f;
    border-radius: 20px;
}

.menu-float::-webkit-scrollbar-track{
    border-radius: 10px;
}

@media(max-width: 900px){

    .profile{
        width: 150px;
    }

    /* .general-wrapper{
        width: 700px;
    } */

    .info-wrapper{
        margin-left: 0;
        margin-right: 0;
        width: 320px;
    }

    .grid-general{
        margin-left: 0%;
        grid-template-columns: 0.35fr 0.65fr;
    }

    .section-wrapper{
        width: 300px;
        margin: 0;
    }

    .data{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

@media(max-width: 600px){

    .profile{
        width: 150px;

    }
/* 
    .general-wrapper{
        width: 300px;
    } */

    .info-wrapper{
        width: 300px;
    }

    .grid-general{
        margin-left: 0%;
        grid-template-columns: 1fr;
    }

    .section-wrapper{
        width: 300px;
        margin-left: 0;
    }

    .data{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .all{
        margin: 0;
    }
}
